body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#f4f6fb;
font-family:Arial;
}

.login-container{
background:white;
padding:40px;
width:350px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
text-align:center;
margin-bottom:20px;
}

input, select{
width:100%;
padding:10px;
margin:8px 0 16px;
border:1px solid #ccc;
border-radius:6px;
}

button{
width:100%;
padding:12px;
background:#F29F67;
border:none;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
}

#errorMessage{
color:red;
text-align:center;
}